.fond {
	background-color: rgb(239 239 239);
	/*background-repeat: no-repeat;*/
	padding-bottom: 50px;
	padding-top: 50px;
}
h2 {
	text-align: center;
	font-weight: bold;
	color: #153575;
}

.forme {
	border-radius: 1%;
	background-color: white;
	
	
}
.forme1 {
	padding-left: 15px;
	padding-right: 15px;
}
.forme2 {
	padding-top: 50px;
}
label {
	color: #3591ce;
}
.valid {
	padding-top: 8px;
}
.hov {
	background-color: #3591ce;
}
.hov1 {
	background-color: #3591ce;
}
.hov:hover {
	background-color: #153575;
}
.hov1:hover {
	background-color: #153575;
}
.hov span {
	color: white
}
.hov1 span {
	color: white;
}
.imgtab {
	height: 50px;
	width: 75px;
}
.colr {
	color: #3591ce;
}
.visua{
	width: 150px;
	height: 100px;
	padding-left: 20px;
}
#visua1 {
	display: none;
}



input:invalid+span:after {
   content: 'X';
  padding-left: 5px;
  color: #153575;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
  color: #3591ce;
}



@media screen and (min-width: 0px) and (max-width: 768px) {
	.tab-phone {
		display: none;
	}
}